.titulo {
	font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
	font-size: 15px;
}

.ui-panel .ui-panel-titlebar {
	padding: 0.5em 31em 0.3em;
	background: transparent;
}

.ui-widget {
	font-size: 13px !important;
}

.ui-state-disabled {
	opacity: .95 !important;
}

.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;
	border: none !important;
	padding: 0;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}