<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">
	<http auto-config="true"> 
		<intercept-url pattern="/admin/**" access="ROLE_ADMINISTRADOR" /> 
		<intercept-url pattern="/gerencia/**" access="ROLE_ADMINISTRADOR, ROLE_GERENCIA"/> 
		<form-login login-page="/login.xhtml" 
			always-use-default-target="true" 
			default-target-url="/admin/cadastro_usuario.xhtml"
			authentication-failure-url="/login.xhtml?login_error=1" />
		<logout logout-success-url="/login.xhtml"/> 
		<remember-me /> 
	</http>
	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="hibernateDbDataSource" 
				authorities-by-username-query="SELECT usu_email, usu_nivel_acesso
																	FROM usuario 
																	WHERE usu_email = ?"
				users-by-username-query="SELECT usu_email, usu_senha, '1' FROM usuario WHERE usu_email = ?" />
		</authentication-provider>
	</authentication-manager>
</beans:beans>

